/**************************************************
[reset.css]
http://www.comodo.com

Modified: 4/10/09
**************************************************/

html { min-height: 100%; margin-bottom: 0px; } /* force scrollbar */

a,a:active { outline: none; }

body { margin: 0; padding: 0; }

p, form { margin: 0; padding: 0; }

ol,ul { list-style: none; margin: 0; padding: 0; }

div,li,dd,dt,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,blockquote,th,td {
    margin: 0;
    padding: 0; }

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal; }

address,caption,cite,code,dfn,th {
    font-style: normal;
    font-weight: normal; }

fieldset,img {
    border: 0; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

caption,th {
    text-align: left; }

q:before,q:after {
    content: ''; }

abbr,acronym {
    border: 0; }