.box {
    width: 940px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 20px;
}

.width-180 {
    float: left;
    display: inline;
    width: 180px;
}

.width-780 {
    width: 730px;
    float: right;
}

.border-module {
    border: solid 1px #e6e6e6;
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.border-module h3 {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 10px;
    border-bottom: solid 1px #e6e6e6;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
    background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
    background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
    background-repeat: repeat-x;
}

.customer1 p {
    padding: 15px 20px 0;
    font-size: 14px;
}

.customer1 p strong {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.customer1 {
    background-color: #fff;
}

.box-qa-type {
    border-bottom: none;
}

.qa-type li {
    float: left;
    width: 100%;
    padding: 5px 0;
    border-bottom: solid 1px #e6e6e6;
    -webkit-transition: 0.3s background-color ease;
    -moz-transition: 0.3s background-color ease;
    transition: 0.3s background-color ease;
    position: relative;
}

.qa-type li h4 {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 120px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.qa-type li h4 img {
    margin-right: 5px;
    vertical-align: -4px;
}

.qa-type li div {
    margin: 0 20px 0 130px;
    padding: 5px 0 0 15px;
    color: #999;
    line-height: 25px;
    border-left: dashed 1px #e6e6e6;
}

.qa-type li table {
    min-height: 60px;
    height: 60px;
}

.qa-type li table td {
    vertical-align: middle;
}

.qa-type li div span {
    display: inline-block;
    height: 20px;
}

.qa-type li div a {
    margin-right: 8px;
    padding-right: 8px;
    border-right: solid 1px #999;
    color: #136ec2;
}

.self-list {
    margin: 10px 20px;
}

.self-list li {
    position: relative;
    /*float: left;*/
    display: inline;
    width: 100%;
    line-height: 24px;
}

.self-list li i {
    position: absolute;
    left: 0;
    top: 11px;
    width: 3px;
    height: 3px;
    font-size: 0;
    background: #136ec2;
}

.self-list li a {
    display: block;
    color: #136ec2;
    line-height: 24px;
    margin-left: 8px;
}

.clearfix {
    zoom: 1;
}

#lastA {
    border-right: none;
    color: gray;
}